<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Boot Micro Services</title>
    <th:block th:include="fragments/dependencies :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(products)}">

        <h2>Products</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>type</th>
                <th>upc</th>
                <th>price</th>
                <th>quantity</th>
                <th>created</th>
                <th>last updated</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">123</td>
                <th th:text="${product.productName}">Apple</th>
                <th th:text="${product.productType}">Type</th>
                <th th:text="${product.upc}">upc</th>
                <th th:text="${product.price}">price</th>
                <th th:text="${product.quantityOnHand}">quantity</th>
                <th th:text="${product.createdDate}">created</th>
                <th th:text="${product.lastUpdatedDate}">last updated</th>
            </tr>

        </table>

        <!--    </div>   -->
    </div>

</body>
</html>

